form {
  width: 100%;
}

.marquee {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  width: 100%;
  animation: marquee 10s linear infinite alternate;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
